@charset "utf-8";

img, object, embed, video {
	max-width: 1532px;
	max-height: 450px;
	width: 1000px;
	height: 400px;
}

.ie6 img {
	width: 100%;
}

.fluid {
	clear: both;
	margin-left: 0;
	width: 100%;
	float: left;
	display: block;
}
.fluidList {
	list-style: none;
	list-style-image: none;
	margin: 0;
	padding: 0;
}

  
.gridContainer {
	margin-left: auto;
	margin-right: auto;
	width: 86.45%;
	padding-left: 2.275%;
	padding-right: 2.275%;
	clear: none;
	float: none;
}



.topNav {
	width: 100%;
	margin-left: 0;
	clear: both;
}
.topNavUl {
	position: static;
	width: 100%;
	margin-left: 0;
}
.topNavLI {
	width: 32.2033%;
	margin-left: 1.6949%;
	clear: none;
	height: auto;
	position: static;
}


.textContainer {
    padding-top:20px;
}
#sectionOne {
	width: 83.0508%;
	margin-left: 8.4745%;
}
#sectionTwo {
	width: 100%;
	margin-left: 0;
	clear: both;
	display: none;
}
.secondarySection {
	width: 100%;
	margin-left: 0;
	clear: both;
}
.secondaryHeading {
	width: 100%;
	margin-left: 0;
}


.tiles {
	width: 83.0508%;
	margin-left: 8.4745%;
	clear: both;
	display: block;
    padding-bottom: 10px;
}
.tiles:hover {
	opacity: 0.6;
    cursor: pointer;
}

.gallery {
}
.showAreaH2 {
}
.zeroMargin_mobile {
margin-left: 0;
}
.hide_mobile {
display: none;
}


@media only screen and (min-width: 481px) {
.gridContainer {
	width: 90.675%;
	padding-left: 1.1625%;
	padding-right: 1.1625%;
	clear: none;
	float: none;
	margin-left: auto;
}


.topNav {
	clear: none;
	width: 49.1525%;
    margin-left: 35.5932%;
}
.topNavUl {
	position: static;
	width: 100%;
	margin-left: 0;
}
.topNavLI {
	clear: none;
	width: 31.0344%;
	height: auto;
	position: static;
	margin-left: 3.4482%;
}

.textContainer {
    padding-top: 40px;
}
#sectionOne {
	width: 40.6779%;
    margin-left: 5.4745%;
}
#sectionTwo {
	clear: none;
	width: 40.6779%;
    margin-left: 8.4745%;
	display: block;
}
.tiles {
	clear: none;
	width: 49.1525%;
	margin-left: 1.6949%;
	display: block;
    padding-bottom: 10px;
}
.secondarySection {
	clear: none;
	width: 49.1525%;
	margin-left: 1.6949%;
	display: block;
}
.secondaryHeading {
	width: 100%;
	margin-left: 0;
}
.gallery {
}
.showAreaH2 {
}
.hide_tablet {
display: none;
}
.zeroMargin_tablet {
margin-left: 0;
}
}


@media only screen and (min-width: 769px) {
.gridContainer {
	width: 88.5%;
	max-width: 1232px;
	padding-left: 0.75%;
	padding-right: 0.75%;
	margin: auto;
	clear: none;
	float: none;
	margin-left: auto;
}

.topNav {
	width: 95%;
	clear: none;
	margin-left: 0%;
}
.topNavUl {
	width: 100%;
	margin-left: 11%;
	position: static;
}
.topNavLI {
	width: 16.6666%;
	margin-left: 4.1666%;
	clear: none;
	height: auto;
	position: static;
}


.textContainer {
    padding-top:60px;
    padding-bottom:30px;
}
#sectionOne {
	width: 40.6779%;
	margin-left: 30%;
}
#sectionTwo {
	width: 40.6779%;
	margin-left: 1.6949%;
	clear: none;
	display: block;
}
.secondarySection {
	width: 49.1525%;
	clear: none;
	margin-left: 1.6949%;
	display: block;
}
.secondaryHeading {
	margin-left: 0;
	width: 100%;
}

.gallery {
}
.showAreaH2 {
}
.zeroMargin_desktop {
margin-left: 0;
}
.hide_desktop {
display: none;
}

.blocks {

	float:		left;
    margin-top: auto;
	margin-left: 25%;
	width:  	15%;

	text-align: center;
}

.block-img {
    left:2%;
    width: 150%;
}

.space {
    display:block;
    margin-top:250px;
    width:100%;
    height:100px;
}

.space2 {
    display:block;
    margin-top:20px;
    width:100%;
    height:50px;
}

}
