@charset "utf-8";

body{
	background-color: rgba(246,246,246,1.00);
}
h1, h2, h3, h4, h5, h6{
	font-family: sans-serif;
	color: rgba(146,146,146,1.00);
	font-style: normal;
	font-weight: 400;
}
p{
	font-size: 14px;
	font-family: sans-serif;
	font-style: normal;
	font-weight: 100;
	color: rgba(146,146,146,1.00);
	line-height: 1.8;
}

a {
	color: rgba(146,146,146,1.00);
}
a:visited {
	color: rgba(146,146,146,1.00);
}
a:hover {
	color: rgba(0,0,0,1.00);
}
.linkStyle {
	color: rgba(146,146,146,1.00);
	font-family: 'montserrat', sans-serif;
	font-style: normal;
	font-weight: 100;
	text-decoration: none;	
}

.topNavUl {
	position: static;
    padding-top:20px;
    padding-bottom: 20px;
}
.topNavLI {
	text-align: center;
}

.textStyle {
	font-family: sans-serif;
	font-style: normal;
	font-weight: 400;
	color: rgba(146,146,146,1.00);
}
.headingStyle {
	color: rgba(146,146,146,1.00);
	font-size: 32px;
}

.sectionText {
	text-align: center;
}
#sectionOne {
	text-align: justify;
}
#sectionTwo {
	text-align: justify;
}

.paraContent{
	font-size: 14px;
	font-family: alice, sans-serif;
	font-style: normal;
	font-weight: 400;
	color: rgba(146,146,146,1.00);
	line-height: 1.8;
	margin-left: 5%;
	margin-right: 5%;
}
.contentArea{
	font-size: 14px;
	font-family: alice , sans-serif;
	font-style: normal;
	font-weight: 100;
	color: rgba(146,146,146,1.00);
	line-height: 1.8;
	text-align: center;
	margin-left: 5%;
	margin-right: 5%;
}

